body{
    background-image: url(photos/genshin1.png);
    background-size:100%;
    background-repeat: no-repeat;
}

#principal{
    width: 100%;
}
.encabezado{
    display: flex;
}

.botones{
    width: 40%;
    align-content: center;
}

#img{
    position: relative;left: 10%;
    top: 1%;
    width: 15vw;
    height: 25vh;
}

#logo{
    width: 20%;
    height: 35vh;
    display: flex;
    position: relative;left: 10%;
    background-repeat: no-repeat;
}
 
.comic-button {
    display: inline-block;
    padding: 2% 3%;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  

.texto{
    width: 30%;
}

#imagen{
    width: 30vw;
    height: 30vh;
}